<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
</head>
<body>
    <h1>Search for a user</h1>
    <form action="/userSearch" method="get">
        <label for="search">Enter search:</label>
        <input type="text" name="search" id="search">
        <button>Submit</button>
    </form>
    <% if (search.search) { %>
        <p>Search: <%=search.search%></p>
        <p>Results:</p>
        <ul>
            <% searchResults.map(result => { %>
                <li><a href="/profile/<%=result.username%>"><%=result.username%></a></li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>